/* color основной  #212121 */
/* color дополнительный #757575 */
/* color белый #FFFFFF */
/* color акцент #2196F3 */
/* color фона #FFFFFF */
/* color фона вторичный #F5F4FA */
/* color фона футер #2F303A */
:root{
--primary-text-color: #212121;
--secondary-text-color:#757575;
--primary-background-color:#FFFFFF;
--secondary-background-color:#F5F4FA;
--footer-background-color:#2F303A;
--accent-color:#2196F3;
--accent-color-hover:#188CE8;
--accent-color-white:#FFFFFF;
--customers-logo: #AFB1B8;
--timing-function: cubic-bezier(0.4, 0, 0.2, 1);


}
body{ 
background-color:#FFFFFF;
color: var(--primary-text-color);
margin: 0;
font-family: Roboto, sans-serif;
letter-spacing: 0.03em;
}
.list{
  padding: 0px;
  margin: 0px;
  list-style: none;
}

a{
  text-decoration: none;
}


.conainer{
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.main-nav{
  display: flex;
  align-items: center;
}

.header-nav{
  display: flex;
  align-items: center;
}

/* logo */
.logo{
 color: var(--primary-text-color);
 font-family: Raleway, sans-serif;
 font-weight: 700;
 font-size: 26px;
 line-height: 1.2;
}

.logo .accent{
 color: var(--accent-color);
}


/* hero */
.button-hero{
display: inline-block;
border-radius: 4px;
min-width: 200px;
height: 50px;
background-color: var(--accent-color);
color: var(--accent-color-white);
border-color: var(--accent-color);
font-weight: 700;
font-size: 16px;
line-height: 1.8;
align-items: center;
text-align: center;
border-radius: 4px;
letter-spacing: 0.06em;
margin-right: auto;
margin-left: auto;
margin-top: 30px;
transition: background-color 250ms var(--timing-function);
}

.button-hero:hover{
  background-color: var(--accent-color-hover);
}

.title-hero-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 200px;
  
}

.title-hero{
 font-weight: 900;
 font-size: 44px;
 line-height: 1.36;
 text-align: center;
 letter-spacing: 0.06em;
 text-transform: uppercase;
 color: #FFFFFF; 
 margin-left: auto;
 margin-right: auto;
}

.overlay{
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
    to right,
    rgba(47, 48, 58, 0.8),
    rgba(47, 48, 58, 0.8)),
   url(../images/hero-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--secondary-text-color);
  padding-top: 0px;
  text-align: center;
  padding-bottom: 200px;
}

/* nav */
.site-nav .link,
.contacts-nav .link{
 display: block;
 padding-top: 32px;
 padding-bottom: 32px;
 color:var(--primary-text-color);
 font-weight: 500;
 font-size: 14px;
 line-height: 1.14;
 letter-spacing: 0.02em;
 transition: color 250ms var(--timing-function);
}

.site-nav .link:hover, 
.site-nav .link:focus,
.contacts-nav .link:focus,
.contacts-nav .link:hover
{
color:var(--accent-color);
}

.site-nav{
 display: flex;
 margin-left: 85px;
}

.site-nav .item{
  position: relative;
}

.site-nav .current{
  color: var(--accent-color);
}

.site-nav .item:not(:last-child) {
 margin-right: 50px;
}

.current::after{
content: '';
position: absolute;
bottom: 0;
left: 0;
height: 4px;
border-radius: 2px;
width: 100%;
background-color: var(--accent-color);
}

.contacts-nav{
  display: flex;
}

.contacts-nav .item{
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;

color:var(--secondary-text-color);
}

.contacts-nav .item:not(:last-child){
  margin-right: 30px;
}

.header-address{
  margin-left: auto;
}

.contacts-nav-icon{
  margin-right: 10px;
}

.contacts-nav .header-mail{
  display: flex;
  justify-content: center;
  align-items: center;
}

.contacts-nav .header-tel{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.header-mail:hover,
.header-mail:focus,
.header-tel:hover,
.header-tel:focus{
  fill: var(--accent-color);
}

/* section*/
.section-paragraph,
.section-profession,
.section-customer{
 color:var(--secondary-text-color);
}

.qualities{
  display: flex;
  
}

.qualities-name{
  width: 270px;
  text-align: left;
  margin-bottom: 10px;
  margin-top: 30px;

  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 14px;
  left: 1.14;
  text-transform: uppercase;
}

.paragraph{
  width: 270px;
  text-align: left;
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  margin-top: 0px;
  margin-bottom: 0px;
  }

.advantage-img-background{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-background-color);
  height: 120px;
  
}

.advantage{
  width: calc((100%-30px*3)/4);
  margin-right: 30px;
  margin-left: 0px;
  justify-content: center;
  align-items: center;
}

.services{
  display: flex;
  justify-content: center;
  align-items: center;
}

.services-img{
  position: relative;
}

.services-image{
  display: block;
}

.section-services{
  color: var(--accent-color-white); 
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  height: 70px;
  width: 370px;
  padding-top: 27px;
  padding-bottom: 27px;
  }

 .services-img::before{
  display: inline-block;
  position: absolute;
  content: '';
  width: 100%;
  height: 70px;
  background-color:rgba(47, 48, 58, 0.8); 
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  
 }


.services .item:not(:last-child){
margin-right: 30px;
}



.section{
  text-align: center;
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-customer{
font-weight: 400;
font-size: 16px;
line-height: 1.58;
padding-left: 24px;
}




.section-name{
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: #212121;
padding-left: 24px;
}



.about-team{
  display: flex;
  
}

.about-team .item:not(:first-child){
  margin-left: 30px;
}

.title-serv,
.title-regular-customers,
.title-team{
  margin-top: 0px;
  margin-bottom: 50px;
}

.team-employee{
  height: 422px;
  width: 270px;
  background-color: var(--primary-background-color);
  box-shadow:  0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);;
  border-radius:  0px 0px 4px 4px;
}

.team-name{
  margin-top: 30px;
  margin-bottom: 10px;
}

.section-profession{
  margin-top: 0px;
  margin-bottom: 16px;
}




.team{
 background-color: var(--secondary-background-color);
}

.team-icon{
 display: flex;
 justify-content: center;
 align-items: center;
 text-align: center;
 padding-left: 32px;
 padding-right: 32px;
} 

.team-icon-img:not(:last-child){
margin-right: 10px;
}

.team-icon-img{
  height: 44px;
  width: 44px;
  
}

.team-icon-image{
 height: 20px;
 width: 20px;
 margin-top: 24px;
 margin-bottom: 24px;
}

.team-icon-link{
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--customers-logo);
  padding: 0px;
  margin: 0px;
  width: 44px;
  height: 44px;
  border-radius: 50%; 
  transition: background-color 250ms var(--timing-function), fill 250ms var(--timing-function);
}

.team-icon-link:hover,
.team-icon-link:focus{
  background-color: var(--accent-color);
  fill: var(--accent-color-white);
}

.regular-customers-logo{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  border: 2px solid var(--customers-logo);
  width: 170px;
  height: 90px;
  border-radius: 4px;
  box-sizing: border-box;
  transition: fill 250ms var(--timing-function), border-color 250ms var(--timing-function);
}

.regular-customers-logo:hover,
.regular-customers-logo:focus{
  border-color: var(--accent-color);
}

.regular-customers-logo:hover .customers-logo, 
.regular-customers-logo:focus .customers-logo{
  fill: var(--accent-color);
}

.regular-customers{
  display: flex;
}

.regular-logo:not(:last-child){
  margin-right: 30px;
}
.customers-logo{
  width: 170px;
  height: 190px;
  fill: var(--customers-logo);
  border: 2px;
}
/* gallery */

.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.gallery{
  display: flex;
  flex-wrap: wrap;
}

.gallery .item{
  width: 370px;
  margin-bottom: 30px;
}

.gallery .item:not(:nth-child(3n)){
  margin-right: 30px;
}

.gallery .item:nth-last-child(-n+3){
  margin-bottom: 0px;
}

.card{
  background-color: var(--primary-background-color);
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
  }

.product-card-link{
  display: block;
  padding-bottom: 20px;
}

.section-name{
  margin-top: 0px;
  margin-bottom: 4px;
  text-align: left;
}

.section-customer{
  margin-top: 0px;
  text-align: left;
}

.product-card{
  position: relative;
  overflow: hidden;
 }

.section-paragraph{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 71px;
  padding-bottom: 55px;
  width: 370px;
  height: 295px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  position: absolute;
  top: 0;
  right: 0;
  color: #FFFFFF; 
  font-family: Roboto;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  background-color:rgba(33, 150, 243, 0.9); 
  margin-top: 0px;
  margin-bottom: 0px;
  transform: translateY(101%);
  transition: transform 250ms var(--timing-function);
 }

.card > a:hover .product-card > p{
  transform: translateY(0%);
}

.card > a:focus .product-card > p{
  transform: translateY(0%);
}

.gallery-content{
  padding-top: 34px;
}
 
/* button */
.button{
  color:var(--primary-text-color);
  background-color: var(--secondary-background-color); 
  border-color: var(--secondary-background-color); 
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  height: 38px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  box-shadow: none;
  transition: background-color 250ms var(--timing-function);
  }

.button:hover,
.button:focus{
 background-color:var(--accent-color);
 color:var(--accent-color-white);
}

.button-list{
  padding-bottom: 0px;
}

.filter-button{
 display: flex;
 justify-content: center;
 }
 
.filter-button .item:not(:last-child){
 margin-right: 8px;
}



/* footer */
footer{
 background-color: var(--footer-background-color);
}

.logo.footer{
margin-top: 0px;
margin-bottom: 8px;
}

.logo-footer{
  color: var(--accent-color-white);
}

.address{
  color: var(--accent-color-white);
  font-family: Roboto;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.footer-contacts{
  color: rgba(255, 255, 255, 0.6);
  text-decoration: underline;
  font-family: Roboto;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration: none;
 
}

.title-footer{
  color: var(--accent-color-white);
}

.footer-icon{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 100px;
}

.footer-icon-link{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  border: none;
  height: 44px;
  width: 44px;
  margin-top: 20px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  text-align: center;
  transition: background-color 250ms var(--timing-function);
  }

.footer-icons-link:not(:last-child){
  margin-right: 10px;
}

.footer-icon-link:hover, 
.footer-icon-link:focus{
  background-color: var(--accent-color);
}

.footer-ikon-img{
  fill: var(--primary-background-color);
}

.footer-content{
  display: flex;
  
 }

.footer-address{
  margin-right: 69px;
  margin-top: 60px;
  margin-bottom: 60px;
}

.footer-links{
  margin-top: 72px;
}

.mailind{
  display: flex;
  flex-direction: column;
}

.form-mailind{
  display: flex;
  align-items: flex-end;
  padding-left: 94px;
  padding-bottom: 94px;
}

.lable-mailing{
font-weight: 900;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--accent-color-white);
margin-bottom: 20px;

}

.input-mailing{
height: 50px;
width: 358px;
padding-left: 16px;
padding-top: 16px;
padding-bottom: 16px;
background-color: var(--footer-background-color);
border: 1px solid rgba(255, 255, 255, 0.3);
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
margin-right: 12px;
}

.button-mailing{
 height: 50px;
 width: 200px;
 background: #2196F3;
 box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
 border-radius: 4px;
 padding-top: 10px;
 padding-bottom: 10px;
 padding-left: 29px;
 font-family: Roboto;
 font-weight: 700;
 font-size: 16px;
 line-height: 1.87;
 display: flex;
 align-items: center;
 text-align: center;
 letter-spacing: 0.06em;
 color: var(--accent-color-white);
 border-color: transparent;

}

.button-mailing-container{
 position: relative;
}

.icon-mailing{
  position: absolute;
  top: 13px;
  right: 28px;
  fill: var(--accent-color-white);
}

.backdrop{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2); ;
}

.backdrop.is-hidden{
  opacity: 0;
  pointer-events: none;
}

.modal{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 581px;
  width: 528px;
  background-color: var(--primary-background-color);
}

.modal-title{
 display: block;
 padding-left: 40px;
 padding-top: 40px;
 padding-right: 40px;
 padding-bottom: 30px;
 font-weight: 700;
 font-size: 20px;
 line-height: 1.15;
 text-align: center;
 letter-spacing: 0.03em;
}

.modal-form-field{
  display: flex;
  flex-direction: column;
}

.form-field{
display: flex;
flex-direction: column;
position: relative;
width: 448px;
height: 40px;
margin-left: 40px;
margin-right: 40px;
margin-bottom: 28px;
}

.form-field-input{
  height: 40px;
  width: 448px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 42px;
}

.form-field-input:focus + .form-field-lable,
.form-field-input:not(:placeholder-shown) + .form-field-lable{
 transform: translateY(-40px);
 left: 16px;
 color: var(--accent-color);
 
}

.form-field-lable{
 position: absolute;
 top: 50%;
 left: 42px;
 transform: translateY(-50%);
 font-weight: 400;
 font-size: 14px;
 line-height: 1.14;
 letter-spacing: 0.01em;
 color: var(--secondary-text-color);
 transition: transform 250ms var(--timing-function);
}

.form-icon{
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
}

.form-field-input:focus ~ .form-icon{
  fill: var(--accent-color);
}

.comment-textarea{
height: 120px;
width: 448px;
resize: none;
border: 1px solid rgba(33, 33, 33, 0.2);
box-sizing: border-box;
border-radius: 4px;
padding-left: 16px;
padding-top: 12px;
transition: transform 250ms var(--timing-function);
}

.comment-field{
  display: flex;
  flex-direction: column;
  position: relative;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 20px;
  margin-top: 0px;
}

.comment{
position: absolute;
left: 16px;
top: 12px;
font-weight: 400;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.01em;
color: var(--secondary-text-color);

}

.comment-textarea:focus + .comment,
.comment-textarea:not(:placeholder-shown) + .comment{
 transform: translateY(-35px);
 color: var(--accent-color);
}

.terms-field{
 margin-left: 52px;
 margin-right: 52px;
 margin-bottom: 30px;
 font-style: normal;
 font-weight: 400;
 font-size: 14px;
 line-height: 1.7;
 letter-spacing: 0.03em;
 color: var(--secondary-text-color);
}

.lable-checkbox{
  display: flex;
  align-items: center;
  }

.checkbox{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.border-checkbox{
  display: inline-block;
  height: 16px;
  width: 16px;
  border: 2px solid #212121;
  border-radius: 4px;
  margin-right: 8px;
}

.checkbox:checked +.border-checkbox{
  border-color: transparent;
  background-color: var(--accent-color);
  background-image: url('../images/icon-check\ .svg');
  background-size: contain;
  background-origin: border-box;
}

.checkbox-text{
display: flex;
align-items: center;
font-weight: 400;
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;
color: var(--secondary-text-color);

}

.checkbox-link{
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: var(--accent-color);
 
}

.button-submit{
  height: 50px;
  width: 200px;
  margin-left: 164px;
  margin-right: 164px;
  margin-bottom: 40px;
  padding-left: 55px;
  padding-top: 10px;
  padding-right: 55px;
  padding-bottom: 10px;
  text-align: center;
  border-color: transparent;
  background-color: var(--accent-color);
  border-radius: 4px;
  
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--accent-color-white);
}

.button-close{
  position: absolute;
  display: flex;
  align-items: center;
  top: 8px;
  right: 8px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: var(--primary-background-color);
  border: 1px solid rgba(33, 33, 33, 0.2);
  
}


